/*body *:not(#print-area) {*/
    /*display: none;*/
/*}*/
@page {
    margin: 0;
    top: 0;
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    visibility: hidden;
}
#print-area {
    width: 19.5cm;
    position: fixed;
    top: 0.4cm;
    visibility: visible;
    padding: 0;
    margin: 0;
    height: 100%;
}
#facture-content table th,#facture-content table td {
    border: 0.25mm solid #aaa !important;
}
.table td {
    font-size: 9pt;
}
#facture-footer {
    position: absolute;
    bottom: 0.5cm;
    font-size: 9pt;
    width: 100%;
}